
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,200;1,500;1,600&display=swap');


#navbarGit{
	width: 100%;
	background-color: #fafafa;
}

#navbarGit li:hover{
	background-color: rgba(0, 0, 0, .1);
	border-radius: 5px;
	cursor: pointer;
}

#navBtnToggler{
	position: fixed;
	z-index: 101;
	right: 5px;
	top: 15px;
	color: #0dcaf0;;
	background-color: #dbdbdb;
}


main section{
	width: 90%;
	margin-top: 30px;
	padding: 5%;
}